.footer {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    text-align: center;
    color: rgba(137, 132, 132, 0.7);
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
  }
  
  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-content nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
  }
  
  .footer-content nav ul li {
    display: inline-block;
    margin-right: 70px;
  }
  
  .footer-content nav ul li:last-child {
    margin-right: 0;
  }
  
  .footer-content nav ul li a {
    text-decoration: none;
    color: rgba(137, 132, 132, 0.7);
    position: relative;
    font-size: 1rem;
    font-weight: 300;
    padding-bottom: 8px; 
    transition: color 0.3s ease;
  }
  
  .footer-content nav ul li a:hover {
    color: #fff;
  }
  
  .footer-content nav ul li a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3px; 
    background-color: #fff; 
    transform: scaleX(0); 
    transform-origin: bottom right; 
    transition: transform 0.3s ease; 
  }
  
  .footer-content nav ul li a:hover::after {
    transform: scaleX(1); 
    transform-origin: bottom left; 
  }
  
  .footer-content p {
    margin: 10px 0;
    font-size: 14px;
    color: #777;
    text-align: center;
  }
  
  body.light-mode footer {
    background-color: #fff;
    color: #000;
  }
  
  body.light-mode .footer-content nav ul li a {
    color: rgba(0, 0, 0, 0.7);
  }
  
  body.light-mode .footer-content nav ul li a:hover {
    color: #000;
  }
  
  body.light-mode .footer-content nav ul li a::after {
    background-color: #000;
  }
  